<div class="container">
  <div class="card mt-3 pb-2" *ngFor="let room of rooms">
    <img class="card-img-top" src="{{room.url}}" alt="{{room.tit}}">
    <div class="card-block">
      <h4 class="card-title">{{room.tit}}</h4>
      <p class="card-text">{{room.text}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let des of room.descs"><img src="assets/icon/ic_done_black_24px.svg">{{des}}</li>
      </ul>
      <div class="card-footer">
        <small class="text-muted">
          <span class="btn btn-info btn-sm">Quantity : {{room.qua}}</span>
        </small>
        <button type="button" class="btn btn-success btn-sm float-right">{{room.price}}$</button>
      </div>
    </div>
  </div>
</div>