<nav class="rounded navbar navbar-toggleable-md navbar-fixed-top navbar-light bg-faded main-nav" style="font-size: 1em;">
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  {{menuIcon}}
  </button>
  <a (click)="isCollapsed = true" class="navbar-brand" [routerLink]="['/']">LITLE LEO</a>
  <div class="collapse navbar-collapse" id="navbarNav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/','home']">HOME</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/','photos']">PHOTOS</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/','rooms']">ROOMS</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/','reservations']">RESERVATIONS</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/','menu']">DINNER MENU</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/', 'contact']">CONTACT</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/', 'guide']">GUEST GUIDE</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/', 'blog']">BLOG</a>
      </li>
    </ul>
  </div>
</div>
</nav>